.slider {
    position: relative;
    float: right;
    width: 94%;
    overflow: hidden;
    height: 450%;
    background: #BFC0C0;}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
    height: 100% !important;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
}

.slider__control:hover, .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    height: 100% !important;
    line-height: 450%;
    font-size: 100px;
    text-align: center;
}

.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.slider__indicators li.active {
    opacity: 1;
}

.slider__item>div {
    background-size: 100% auto;
}

/****************************************************************************************/
@media only screen and (max-width: 656px) {
    .slider {
        margin-top: 50px;
        width: 100%;
        height: 210%;
    }
    .slider__item>div {
        line-height: 210%;
    }
    .slider__indicators, .slider__control {
        display: none;
    }
    
}







